@import "compass/reset";
@import "compass/css3";
$highlight-text-color: white-smoke;
body {
    font-size: 62.5%;
    text-align: center;
}

.hero {
    background: url('/images/hero.jpg');
    background-size: cover;
    color: $highlight-text-color;
}

header {
    img {
        width: 8em;
        height: 2em;
        float: left;
    }
    ul {
        float: right;
        li {
            float: left;
            margin: 0 .5em;
            padding: 1em;
        }
    }
    /*@include clearfix;*/
}

h1 {
    font-size: 4em;
    padding: 1em 0 .5em 0;
}

h2 {
    font-size: 2em;
}

form {
    padding: 2em 0 4em 0;
    input[type="text"] {
        border-radius: 2px 0 0 2px;
        border: 0;
    	padding: 1em;
        width: 18em;
        background-color: light-grey;
        opacity: .7;
    }
    input[type="button"] {
    	border-radius: 0 2px 2px 0;
    	border: 0;
    	padding: 1em;
    	width: 6em;
    	background-color: green;
    }
}
